<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>cc.naif.batterybar</string>
    <key>CFBundleName</key>
    <string>BatteryBar</string>
    <key>CFBundleDisplayName</key>
    <string>BatteryBar</string>
    <key>CFBundleExecutable</key>
    <string>BatteryBar</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleIconFile</key>
    <string>icon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>BatteryBar reads AirPods battery levels via Bluetooth.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>SUFeedURL</key>
    <string>https://icamel.app/product/batterybar/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>EjjWw78HYDrtLDhYy8it/is9HEV8KBW1gR61wmGFGps=</string>
</dict>
</plist>
